<header>
    <div class="jumbotron jumbotron-custom">
        <h1>Resenha Cultural</h1>
        <p>Criticas bem humoradas sobre filmes, músicas, livros e tudo o que agita o cenário cultural</p>
    </div>
</header>