@model Blog.Models.Post
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            @using(Html.BeginForm("Atualiza", "Post"))
            {
                @Html.EditorFor(p => p)

                <button type="submit">Cadastrar</button>
            }


        </div>

        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    </body>
</html>


            <!-- <form action="/Post/Atualiza" method="post">
            <input type="hidden" name="id" value="Model.Id" />
                <label>
                    Titulo: <input name="titulo" required maxlength="50" value="Model.Titulo">
                </label>
                 Html.ValidationMessage("Titulo")
                <label>
                        Resumo: <input name="resumo" required value="Model.Resumo">
                </label>
                Html.ValidationMessage("Resumo")
                <label>
                        Categoria: <input name="categoria" value="Model.Categoria">
                </label>
                Html.ValidationMessage("Categoria")
                <button type="submit">Cadastrar</button>
            </form> -->