@model Blog.Models.Post

<div>
    @using(Html.BeginForm("Atualiza", "Post"))
    {
        @Html.EditorFor(p => p)

        <button type="submit">Cadastrar</button>
    }

</div>

@section Scripts{
    @await Html.PartialAsync("_Scripts")
}


            <!-- <form action="/Post/Atualiza" method="post">
            <input type="hidden" name="id" value="Model.Id" />
                <label>
                    Titulo: <input name="titulo" required maxlength="50" value="Model.Titulo">
                </label>
                 Html.ValidationMessage("Titulo")
                <label>
                        Resumo: <input name="resumo" required value="Model.Resumo">
                </label>
                Html.ValidationMessage("Resumo")
                <label>
                        Categoria: <input name="categoria" value="Model.Categoria">
                </label>
                Html.ValidationMessage("Categoria")
                <button type="submit">Cadastrar</button>
            </form> -->