<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Administração - Resenha Cultural</title>
        <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="~/css/estilo.css" type="text/css">
        <link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        @Html.Partial("_MenuAdmin")

        <main>
            @RenderBody()
        </main>

        @RenderSection("_Scripts", false)
        
    </body>
</html>